In [79]:
import pandas as pd

In [115]:
names = sorted(['Skylar Lee', 'Alex Zirbel', 'Ben Dong', 
                   'Bogdan Kyruliuk', 'Cathy Chen', 'Chongyuan Xiang', 
                   'Daniel Zhang', 'David Liao', 'David Lundgren', 
                  'Ella Kim', 'Jiwoo Song', 'Josh Wang',
                  'Jules Landry-Simard', 'Lucy Wang', 'Rachid Belaid',
                  'Rahul Raina', 'Sheng Wu', 'Varun Ballari', 
                  'Vicky Zhang', 'Jon Chu', 'Vignesh Kanth', "Jeff Zhou", 'Kevin Wu'])

In [116]:
presence = dict([(name, True) for name in names])

In [117]:
is_male = {'Alex Zirbel': True,
 'Ben Dong': True,
 'Bogdan Kyruliuk': True,
 'Cathy Chen': False,
 'Chongyuan Xiang': True,
 'Daniel Zhang': True,
 'David Liao': True,
 'David Lundgren': True,
 'Ella Kim': False,
 'Jiwoo Song': True,
 'Jon Chu': True,
 'Josh Wang': True,
 'Jules Landry-Simard': True,
 'Lucy Wang': False,
 'Rachid Belaid': True,
 'Rahul Raina': True,
 'Sheng Wu': True,
 'Skylar Lee': False,
 'Varun Ballari': True,
 'Vicky Zhang': False,
 'Vignesh Kanth': True,
          'Jeff Zhou': True,
          'Kevin Wu': True}

### fix presence

In [118]:
presence

{'Alex Zirbel': True,
 'Ben Dong': True,
 'Bogdan Kyruliuk': True,
 'Cathy Chen': True,
 'Chongyuan Xiang': True,
 'Daniel Zhang': True,
 'David Liao': True,
 'David Lundgren': True,
 'Ella Kim': True,
 'Jeff Zhou': True,
 'Jiwoo Song': True,
 'Jon Chu': True,
 'Josh Wang': True,
 'Jules Landry-Simard': True,
 'Kevin Wu': True,
 'Lucy Wang': True,
 'Rachid Belaid': True,
 'Rahul Raina': True,
 'Sheng Wu': True,
 'Skylar Lee': True,
 'Varun Ballari': True,
 'Vicky Zhang': True,
 'Vignesh Kanth': True}

In [145]:
groups = {0: ['Skylar Lee'],
          1: ['Ella Kim', 'Jiwoo Song', 'Lucy Wang'],
          2: ['Jules Landry-Simard', 'David Liao'],
          3: ['Chongyuan Xiang', 'Varun Ballari', 'Jon Chu'],
          4: ['David Lundgren', 'Josh Wang', 'Bogdan Kyruliuk'],
          5: ['Ben Dong','Alex Zirbel',  'Cathy Chen',  'Daniel Zhang', 'Rahul Raina'],
          6: ['Vicky Zhang', 'Sheng Wu', 'Rachid Belaid'],
          7: ['Vignesh Kanth', "Jeff Zhou", 'Kevin Wu']}

In [146]:
from collections import defaultdict

In [147]:
groups_table = defaultdict(list)
for group, l in groups.items():
    for name in l:
        groups_table['name'].append(name)
        groups_table['group'].append(group)
        groups_table['present'].append(presence[name])
        groups_table['is_male'].append(is_male[name])

In [148]:
base_df = pd.DataFrame(groups_table).query('present')

In [149]:
data_df = pd.DataFrame.from_csv('/Users/skylarlee/Downloads/Party Invite (Responses) - Form Responses 1.csv')

In [150]:
data_df = data_df.reset_index().rename(
    columns={
        'What is your name?': 'name',
        'What is your score for Words of Affirmation?': 'words_of_affirmation',
        'What is your score for Quality Time?': 'quality_time',
        'What is your score for Receiving Gifts?': 'receiving_gifts',
        'What is your score for Acts of Service?': 'acts_of_service',
        'What is your score for Physical Touch?': 'physical_touch'
    }
)

In [151]:
data_df

,Timestamp,name,words_of_affirmation,quality_time,receiving_gifts,acts_of_service,physical_touch
0,2019-07-08 00:42:53,Skylar Lee,3.00,7.00,2.00,11.00,7.00
1,2019-07-11 20:59:17,Cathy Chen,0.00,8.00,6.00,12.00,4.00
2,2019-07-12 06:06:33,Vicky Zhang,5.00,12.00,2.00,8.00,2.00
3,2019-07-12 07:06:25,Daniel Zhang,8.00,8.00,1.00,5.00,8.00
4,2019-07-13 03:11:13,Sheng Wu,9.47,12.63,1.58,4.74,1.58
5,2019-07-13 03:12:19,Alex Zirbel,4.00,5.00,10.00,1.00,10.00
6,2019-07-13 03:15:26,Ben Dong,6.00,6.00,4.00,10.00,4.00
7,2019-07-13 03:21:34,Jeff Zhou,4.00,9.00,2.00,7.00,8.00
8,2019-07-13 03:25:39,Lucy Wang,5.00,7.00,2.00,12.00,3.00
9,2019-07-13 03:32:30,Varun Ballari,7.00,11.00,4.00,2.00,6.00
10,2019-07-13 03:35:29,Jules Landry-Simard,6.00,6.00,5.00,7.00,6.00
11,2019-07-13 03:37:18,David Liao,2.00,10.00,8.00,7.00,3.00
12,2019-07-13 03:52:07,David Lundgren,7.00,10.00,1.00,2.00,10.00
13,2019-07-13 04:12:57,Rachid Belaid,11.00,4.00,8.00,7.00,0.00
14,2019-07-13 05:18:29,Kevin Wu,3.00,9.00,0.00,8.00,9.00

In [152]:
data_df = base_df.merge(data_df, on=['name'])

## group multiplication factor

In [153]:
GROUP_FACTOR = 0

In [154]:
data_df['group'] = data_df['group'] * GROUP_FACTOR

In [155]:
from scipy.spatial.distance import squareform, pdist

In [156]:
data_df.loc[:, ['words_of_affirmation', 'quality_time',
       'receiving_gifts', 'acts_of_service', 'physical_touch', 'group']]

,words_of_affirmation,quality_time,receiving_gifts,acts_of_service,physical_touch,group
0,3.00,7.00,2.00,11.00,7.00,0
1,5.00,7.00,2.00,12.00,3.00,0
2,6.00,6.00,5.00,7.00,6.00,0
3,2.00,10.00,8.00,7.00,3.00,0
4,7.00,11.00,4.00,2.00,6.00,0
5,7.00,10.00,1.00,2.00,10.00,0
6,6.00,6.00,4.00,10.00,4.00,0
7,4.00,5.00,10.00,1.00,10.00,0
8,0.00,8.00,6.00,12.00,4.00,0
9,8.00,8.00,1.00,5.00,8.00,0
10,5.00,12.00,2.00,8.00,2.00,0
11,9.47,12.63,1.58,4.74,1.58,0
12,11.00,4.00,8.00,7.00,0.00,0
13,4.00,9.00,2.00,7.00,8.00,0
14,3.00,9.00,0.00,8.00,9.00,0

In [157]:
distance_df = pd.DataFrame(squareform(pdist(data_df.loc[:, ['words_of_affirmation', 'quality_time',
       'receiving_gifts', 'acts_of_service', 'physical_touch', 'group']])), columns=data_df.name.unique(), index=data_df.name.unique())

In [158]:
distance_df

,Skylar Lee,Lucy Wang,Jules Landry-Simard,David Liao,Varun Ballari,David Lundgren,Ben Dong,Alex Zirbel,Cathy Chen,Daniel Zhang,Vicky Zhang,Sheng Wu,Rachid Belaid,Jeff Zhou,Kevin Wu
Skylar Lee,0.000000,4.582576,6.000000,8.831761,10.862780,10.770330,4.898979,13.341664,6.000000,8.000000,7.937254,11.928881,13.190906,4.690416,4.582576
Lucy Wang,4.582576,0.000000,6.708204,8.888194,11.532563,12.767145,3.316625,15.459625,6.557439,9.219544,6.480741,10.323672,10.723805,7.416198,8.000000
Jules Landry-Simard,6.000000,6.708204,0.000000,7.071068,7.211103,8.602325,3.741657,9.055385,8.366600,5.656854,7.937254,9.609277,8.602325,5.099020,7.280110
David Liao,8.831761,8.888194,7.071068,0.000000,8.717798,12.165525,7.615773,10.862780,6.164414,10.862780,7.141428,10.538415,11.224972,8.124038,10.148892
Varun Ballari,10.862780,11.532563,7.211103,8.717798,0.000000,5.099020,9.695360,9.899495,12.884099,5.656854,7.810250,6.454316,11.916375,6.782330,9.000000
David Lundgren,10.770330,12.767145,8.602325,12.165525,5.099020,0.000000,11.224972,10.770330,14.628739,4.242641,10.440307,9.579050,15.033296,6.324555,7.416198
Ben Dong,4.898979,3.316625,3.741657,7.615773,9.695360,11.224972,0.000000,12.569805,6.928203,7.615773,7.000000,9.766176,8.366600,6.480741,7.937254
Alex Zirbel,13.341664,15.459625,9.055385,10.862780,9.899495,10.770330,12.569805,0.000000,14.071247,11.224972,15.066519,15.617881,13.784049,10.954451,12.922848
Cathy Chen,6.000000,6.557439,8.366600,6.164414,12.884099,14.628739,6.928203,14.071247,0.000000,12.409674,8.774964,13.755661,13.490738,8.602325,9.327379
Daniel Zhang,8.000000,9.219544,5.656854,10.862780,5.656854,4.242641,7.615773,11.224972,12.409674,0.000000,8.426150,8.075779,11.916375,4.690416,6.082763
Vicky Zhang,7.937254,6.480741,7.937254,7.141428,7.810250,10.440307,7.000000,15.066519,8.774964,8.426150,0.000000,5.599839,11.874342,6.855655,8.124038
Sheng Wu,11.928881,10.323672,9.609277,10.538415,6.454316,9.579050,9.766176,15.617881,13.755661,8.075779,5.599839,0.000000,11.208845,9.465633,11.100369
Rachid Belaid,13.190906,10.723805,8.602325,11.224972,11.916375,15.033296,8.366600,13.784049,13.490738,11.916375,11.874342,11.208845,0.000000,13.190906,15.329710
Jeff Zhou,4.690416,7.416198,5.099020,8.124038,6.782330,6.324555,6.480741,10.954451,8.602325,4.690416,6.855655,9.465633,13.190906,0.000000,2.645751
Kevin Wu,4.582576,8.000000,7.280110,10.148892,9.000000,7.416198,7.937254,12.922848,9.327379,6.082763,8.124038,11.100369,15.329710,2.645751,0.000000

### brute force assignment

In [133]:
from random import shuffle
shuffled_names = list(distance_df.index)

In [134]:
shuffle(shuffled_names)
shuffled_names

['Lucy Wang',
 'Ben Dong',
 'David Liao',
 'Vicky Zhang',
 'Alex Zirbel',
 'Skylar Lee',
 'David Lundgren',
 'Sheng Wu',
 'Rachid Belaid',
 'Jeff Zhou',
 'Daniel Zhang',
 'Cathy Chen',
 'Jules Landry-Simard',
 'Varun Ballari']

In [135]:
assigned = set()
pairs = []
for subj in shuffled_names:
    ds = distance_df.to_dict()[subj]
    cur_max = 0
    candidate = subj
    if subj in assigned:
        continue
        
    for friend, score in ds.items():
        if friend in assigned:
            continue
            
        if score > cur_max:
            candidate = friend
    
    assigned.add(subj)
    assigned.add(candidate)
    pairs.append((subj, candidate))

In [136]:
pairs

[('Lucy Wang', 'Jeff Zhou'),
 ('Ben Dong', 'Rachid Belaid'),
 ('David Liao', 'Sheng Wu'),
 ('Vicky Zhang', 'Daniel Zhang'),
 ('Alex Zirbel', 'Cathy Chen'),
 ('Skylar Lee', 'David Lundgren'),
 ('Jules Landry-Simard', 'Varun Ballari')]

### most popular and least popular love language

In [137]:
data_df.sum()

group                                                                   0
is_male                                                                10
name                    Skylar LeeLucy WangJules Landry-SimardDavid Li...
present                                                                14
words_of_affirmation                                                77.47
quality_time                                                       115.63
receiving_gifts                                                     56.58
acts_of_service                                                     95.74
physical_touch                                                      72.58
dtype: object

In [138]:
data_df.groupby('is_male').mean()

,group,present,words_of_affirmation,quality_time,receiving_gifts,acts_of_service,physical_touch
is_male,,,,,,,
False,0,True,3.250,8.500,3.000,10.750,4.000
True,0,True,6.447,8.163,4.458,5.274,5.658